@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cart-scale {
    transform: scale(0.8);
    transform-origin: top center;
    width: 111%; /* Fix shrinking caused by scale(0.9) */
}

@media (min-width: 1024px) {
    .cart-scale {
        transform: scale(0.9);
        transform-origin: top center;
        width: 111%;
    }
}

