@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Hide scrollbar but still scrollable */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Show scrollbar explicitly */
.show-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: rgba(123, 123, 123, 0.8) transparent;
}

.show-scrollbar::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(141, 0, 212, 0.8);
  border-radius: 4px;
}

.show-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.collection-scale {
    transform: scale(0.9);
    transform-origin: top center;
    width: 125%;
    margin-left: -2%; 
    margin-right: -2%;
}

@media (min-width: 1024px) {
    .collection-scale {
        transform: scale(0.9);
        transform-origin: top center;
        width: 111%; /* keep consistent scaling */
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}


.carousel-edge-fade {
  position: relative;
  overflow: hidden; /* keep overflow content inside */
}

.carousel-edge-fade::before,
.carousel-edge-fade::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px; /* width of fade */
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.carousel-edge-fade::before {
  left: 0;
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.carousel-edge-fade::after {
  right: 0;
  background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
}
